* {
    font-family: 'Roboto', 'Verdana', 'Geneva', 'Tahoma', 'sans-serif';
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Cinzel', 'Times New Roman', Times, serif;
}

h1 {
    font-size: 80px;
}

button.btn-icon {
    background-color: transparent;
    height: 40px;
    width: 40px;
    text-align: center;
    vertical-align: center;
    border: none;
}

button.btn-link {
    color: white;
    background-color: transparent;
    border: none;
}

.brand-name {
    font-family: 'Cinzel', 'Times New Roman', Times, serif;
    font-size: 2em;
}

header, main {
    background-color: #fffaee;
}

section {
    background-color: #3d3d3d;
    color: white;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
}

main {
    height: 450px;
}

#explore-now {
    height: 150px;
}